<?xml version="1.0" encoding="utf-8"  ?>
<phpunit 
    bootstrap="./vendor/autoload.php" 
    colors="true"
    printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>

    <testsuites>
        <testsuite name="testes do projeto">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>